/***************
General
****************/

* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	text-align: center;
	color: #808080;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

h2 {
	color: #808080;
}

#prompt {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

input[type=text] {
	margin: 1em;
	padding: .25em;
	width: 2em;
}

/***************
Heading
****************/

#main-header {
  height: 65px;
  background-color: #4da6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
	font-size: 30px;
	font-family: 'Maven Pro', sans-serif;
	margin: auto 0;
	padding: 5px;
	color: #fff7e6;
}

#mug {
	margin-left: 0;
	padding: 0;
}