/***************
General
****************/

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 1rem;
	text-align: center;
	color: #767676;
}

#wrapper {
	max-width: 940px;
	margin: 2rem auto 0;
	padding: 0 5%;
}

h2 {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #767676;
}

#ozInput, #methodInput {
	display: flex;
	justify-content: center; 
	align-items: center;
}

/***************
Heading
****************/

#main-header {
  height: 45px;
  background-color: #4da6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #767676;
}

h1 {
	font-size: 1.75rem;
	font-family: 'Maven Pro', sans-serif;
	margin: auto 0;
	padding: 5px;
	color: #fff7e6;
}

#mug {
	width: 2.25em;
	height: auto;
	margin-left: 0;
	padding: 0;
}

/***************
Input fields
****************/

input[type=text] {
	padding: .25em;
	width: 3rem;
	border: 2px solid #FF9700;
	border-radius: 4px;
}